@page "/simple"

<h1>Simple Test Page</h1>
<p>If you can see this, basic Blazor routing works!</p>
<p>Current time: @DateTime.Now</p>

<button @onclick="TestClick">Test Button</button>

@if (clicked)
{
    <p>Button clicked at: @clickTime</p>
}

@code {
    private bool clicked = false;
    private DateTime clickTime;

    private void TestClick()
    {
        clicked = true;
        clickTime = DateTime.Now;
    }
}
